/* Scope dark mode styles to elements when .dark is present */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  min-width: 100%;
}

.dark .bg-dark1 {
  background-color: #111 !important;
}

.dark .bg-dark2 {
  background-color: #222 !important;
}

.dark .bg-dark3 {
  background-color: #333 !important;
}


.dark .text-dark {
  color: #ffffff !important;
}

.dark .dropdown-item-dark .dropdown-menu-dark {
  background-color: #222 !important;
}