@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.whitespace-pre-wrap {
  white-space: pre-wrap; /* Preserves line breaks */
  word-wrap: break-word; /* Prevents words from overflowing */
}

.pre-wrap {
  white-space: pre-wrap; /* Preserves line breaks */
}